/* -- Defaults -- */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.site-main {
	padding-top: var( --wp--preset--spacing--30 );
	padding-bottom: var( --wp--preset--spacing--60 );
}

a,
button,
input,
textarea,
.wp-element-button {
	transition: all 0.2s ease-in-out;
}

p:empty {
	display: none;
	visibility: hidden;
	height: 0;
}

sup {
	color: var(--wp--preset--color--primary-500);
	font-size: 0.75rem;

	a {
		color: var(--wp--preset--color--primary-500);
		text-decoration: none;
	}
}

.dollar-value {
	&::before {
		content: '$';
	}
}

/** Fix for image lightbox with caption trigger overflow from core **/
.wp-block-gallery {
	.lightbox-trigger {
		top: 1rem !important; /* stylelint-disable-line declaration-no-important */
	}
}
