/* Breakpoints */
$breakpoints: (
  mobile: 480px,
  small: 600px,
  medium: 782px,
  large: 960px,
  xlarge: 1080px,
  wide: 1280px,
  huge: 1440px,
  xhuge: 1920px
);

@function breakpoint( $name ) {
  @return map-get( $breakpoints, $name );
}

$mobile: breakpoint( mobile );
$small: breakpoint( small );
$medium: breakpoint( medium );
$large: breakpoint( large );
$xlarge: breakpoint( xlarge );
$wide: breakpoint( wide );
$huge: breakpoint( huge );
$xhuge: breakpoint( xhuge );

/* Prefixes */
$custom: '--wp--custom--';
$preset: '--wp--preset--';

