/* -- Home -- */

.home,
.blog {

	.breadcrumb-wrapper {
		display: none;
		visibility: collapse;
	}

	.site-sub-header {
		display: none;
		visibility: collapse;
	}

	.content-home {
		margin-top: 0;
	}

	.section {
		&__top-10 {

			.section-table {
				gap: 0;
				background-color: var( --wp--preset--color--gray-200 );
				grid-template-columns: 1fr;

				@include responsive-min( $break-mobile ) {
					padding-right: var( --wp--preset--spacing--20 );
					grid-template-columns: min( 16.875rem, 40% ) 1fr;
				}
			}

			table {
				margin-bottom: 1px;
			}

			thead {
				@include screen-reader-text;
			}

			tbody {
				tr {
					border: none;
					width: 100%;

					&:nth-child(odd) {
						background-color: var( --wp--preset--color--gray-200 );
					}

					&:nth-child(even) {
						background-color: var( --wp--preset--color--white );
					}
				}
			}

			@include responsive-min( $break-mobile ) {
				tbody {
					tr {
						td {
							&:first-child {
								padding-left: var( --wp--preset--spacing--10 );
							}
	
							&:last-child {
								padding-right: var( --wp--preset--spacing--10 );
							}
						}
					}
				}
			}

			&:has( p.wpdt-c ) {
				.wp-block-heading {
					display: none;
				}
			}

			.wpDataTables,
			table.wpDataTable,
			table.dataTable {
				margin-bottom: 1px !important;
			}
		
			.wp-block-heading,
			p.wpdt-c {
				font-size: var( --wp--preset--font-size--medium-2 );
				font-family: var( --wp--preset--font-size--heading );
				padding: var( --wp--preset--spacing--20 );
				background-color: var( --wp--preset--color--contrast-5 );
				color: var( --wp--preset--color--white );
				line-height: var( --wp--custom--line-height--1-2 );
				font-weight: 700;
			}

			.dt-buttons {
				display: none;
				visibility: collapse;
			}
		}
	}

	.section-table + .section-table {
		margin-top: var( --wp--preset--spacing--20 );
	}
}