/* -- Search Page -- */

.search {
	.wp-block-query-title {
		font-size: var(--wp--preset--font-size--m);
		margin-bottom: var(--wp--preset--spacing--30);
		margin-top: var(--wp--preset--spacing--30);
	}

	.wp-block-post {
		.wp-block-post-title {
			font-size: 1.375rem;
			margin-bottom: 0;
			padding-top: 0.375rem;
		}

		.post-meta {
			gap: 0;
			justify-content: flex-start;

			p {
				font-family: var(--wp--preset--font-family--headline);
				font-size: 0.75rem;
				font-weight: 400;
				line-height: 1.6;
				margin-top: 0.5rem !important; /* stylelint-disable-line declaration-no-important */
			}

			.wp-block-post-date {
				font-family: var(--wp--preset--font-family--headline);
				font-size: 0.75rem;
				font-weight: 400;
				line-height: 1.6;
				padding-left: 0.375rem;

				&::after {
					content: '.';
					padding-right: 0.375rem;
				}
			}
		}

		&:last-of-type {
			.wp-block-separator {
				display: none;
			}
		}
	}

}

.transaction-results-tabs {
    margin: 20px 0;

    .tab-links {
        display: flex;
		padding: 0;
		column-gap: var( --wp--preset--spacing--20 );

        .tab-link {
            margin: 0;
			padding: 0;

            a {
                display: flex;
				column-gap: var( --wp--preset--spacing--10 );
                padding: var( --wp--preset--spacing--20 );
                background-color: var( --wp--preset--color--gray-200 );
                color: var( --wp--preset--color--contrast );
                text-decoration: none;
				border: none;
				font-size: var( --wp--preset--font-size--medium-3 );
                font-weight: 700;
				font-family: var( --wp--preset--font-family--heading );
                transition: background-color 0.3s, color 0.3s;

                &:hover,
				&:focus {
                    background-color: var( --wp--preset--color--gray-100 );
					border: none;
                }
            }

			.found-records {
				display: inline-flex;
				align-items: center;
				padding: 0 5px;
				border-radius: 4px;
				background-color: var( --wp--custom--color--primary-light );
				color: var( --wp--preset--color--contrast );
				font-size: var( --wp--preset--font-size--small );
				font-weight: 400;

				&.no-records {
					&::before {
						content: '0';
					}
				}
			}

			&.active {
				a {
					background-color: var( --wp--preset--color--contrast-2 );
					color: var( --wp--preset--color--white );
				}

				.found-records {
					background-color: var( --wp--preset--color--gray-100 );
					color: var( --wp--preset--color--contrast );
				}
			}
        }

    }

    .tab-content {
        .tab {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}