.single {

    @include responsive-max( $break-mobile - 1px ) {
        .total-donations {
            flex-wrap: wrap;

            p,
            .dollar-value {
                flex-basis: 100%;
            }
        }
    }

    &-think_tank {
        .total-donations {
            justify-content: space-between;
        }
    }

    &-donor {
        .total-donations {
            justify-content: flex-start;
            background-color: var( --wp--preset--color--gray-100 );
            border: 1px solid var( --wp--preset--color--gray-200 );
        }
    }

}