/* -- footer -- */

.site-footer {
	border-top: 1px solid var( --wp--preset--color--gray-400 );
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;

	&--top {
		padding-top: var( --wp--preset--spacing--30 );
		padding-bottom: var( --wp--preset--spacing--30 );
		background-color: var( --wp--custom--color--pink-light );
	}
}
