/* -- Header -- */

/* -- Header Search -- */
.site-header {
	.wp-block-search {
		&.wp-block-search__button-inside {
			.wp-block-search__inside-wrapper {
				padding: 0;
				background-color: var( --wp--preset--color--base );

				.wp-block-search__button {
					background-color: transparent;

					svg {
						fill: var(--wp--preset--color--contrast);
						min-height: 1.875rem;
						min-width: 1.875rem;
					}
				}
			}
		}

		&.wp-block-search__button-only {
			.wp-block-search__inside-wrapper {
				.wp-block-search__button {
					background-color: transparent;

					svg {
						fill: var(--wp--preset--color--base);
						min-height: 1.875rem;
						min-width: 1.875rem;
					}
				}
			}
		}

		.wp-block-search__input {
			border-radius: 0;
		}
	}

	.site-branding {
		max-width: 300px;
	}

	.header-wrapper > .wp-block-group {
		align-items: flex-start;
	}

	.wp-block-site-title {
		text-wrap: balance;

		a {
			&:focus {
				outline: thin dotted;
			}
		}
	}
	button {
		&:focus {
			outline: thin dotted;
		}
	}
}

@include responsive-max(833px) {
	.site-header {
		.wp-block-search {
			width: 100%;
		}
	}
}
