@import '../../abstracts/responsive-mixins';

/* -- List -- */

main,
.wp-block-post-content {
	ul {
		&:not([class]),
		&.wp-block-list {

			padding-left: var(--wp--preset--spacing--40);
		
			li {
				padding-bottom: var(--wp--preset--spacing--20);
				// padding-left: var(--wp--preset--spacing--10);
				position: relative;

				@include responsive-max(600px) {
					// padding-left: var(--wp--preset--spacing--20);
				}

				&:last-child {
					padding-bottom: 0;
				}
			}
		}

		&.is-style-no-bullet {
			list-style-type: none;
		}
	}

	/* -- Ordered List -- */

	ol {
		&:not([class]),
		&.wp-block-list {
			list-style-position: inside;

			li {
				padding-bottom: var(--wp--preset--spacing--20);
				position: relative;

				ol {}

				&::marker {
					font-weight: 700;
				}

				&:last-child {
					padding-bottom: 0;
				}

				.rich-text {
					display: inline-block;
				}
			}

			ol {
				padding-bottom: 0;
			}
		}
	}
}
