@import '../../abstracts/responsive-mixins';

/* Search
---------------------------------------- */
.wp-block-search,
.wp-block-ttft-search-form {
	p:empty,
	br {
		display: none;
	}

	legend {
		margin-top: var( --wp--preset--spacing--10 );
	}

	legend:empty {
		display: none;
		margin-top: 0;
	}

	.wp-block-search__inside-wrapper {
		border-radius: 0;
		border: none;
		margin-top: 0;
		display: flex;
		flex-wrap: wrap;
	}

	.wp-block-search__filters {
		border-radius: 0;
		margin-top: 0;
		width: 100%;
		background-color: var( --wp--preset--color--contrast-3 );
		color: var( --wp--preset--color--base );
	}

	.wp-block-search__input {
		margin-top: 0;
		padding: var( --wp--preset--spacing--10 ) var( --wp--preset--spacing--20 );
		border-radius: 0;
		width: calc( 100% - 2.625rem );
	}

	.wp-block-search__button {
		align-items: center;
		border-radius: 6px;
		display: flex;
		height: 2.625rem;
		justify-content: center;
		margin-top: 0;
		padding: 0;

		&.has-icon {
			width: 2.625rem;
			border-radius: 0;
			background-color: var( --wp--preset--color--base );

			svg {
				height: 18px;
				transform: scaleX(-1);
				width: 18px;
			}
		}
	}

	&.wp-block-search__button-only {
		&.wp-block-search__searchfield-hidden {
			.wp-block-search__inside-wrapper {
				border-color: transparent;
			}
		}

		.wp-block-search__inside-wrapper {
			align-items: center;
			position: relative;

			.wp-block-search__input {
				border: none !important; /* stylelint-disable-line declaration-no-important */
			}

			.wp-block-search__button {
				max-width: inherit;
			}
		}
	}

	&.wp-block-search__button-inside {
		.wp-block-search__inside-wrapper {
			padding: 0;
			position: relative;

			.wp-block-search__input {
				border: none !important; /* stylelint-disable-line declaration-no-important */
				// padding: 0 1rem;
			}
		}
	}

	&.wp-block-search__button-outside {
		.wp-block-search__inside-wrapper {
			.wp-block-search__input {
				padding: 0.625rem 1rem;
			}
		}
	}

	@include responsive-min( $break-small ) {
		.wp-block-search__inside-wrapper {
			flex-direction: row;
		}

		.wp-block-search__filters {
			max-width: 9rem;
		}

		.wp-block-search__input {
			width: calc( 100% - (2.625rem + 9rem));
		}
	}
}

.site-main,
.site-footer {
	.wp-block-search {
		padding: var( --wp--preset--spacing--20 );
		background-color: var( --wp--preset--color--gray-200 );

		&__inside-wrapper {
			display: flex;

			@include responsive-min( var( --wp--custom--breakpoint--small ) ) {
				.wp-block-search {
					&__filters {}

					&__input {}

					&__button {}
				}
			}
		}
	}
}

#ajaxsearchpro1_1 .probox,  /* stylelint-disable-line selector-id-pattern */
#ajaxsearchpro1_1.asp_main_container {
	border: none;
}

.wp-block-navigation,
.search-component {
	.wp-block-buttons {
		column-gap: var( --wp--preset--spacing--20 );
	}

	.wp-block-button {
		flex: 1 1 calc( ( 100% - var( --wp--preset--spacing--20 ) ) / 2 );
	
		.wp-block-button__link {
			width: 100%;
		}
	}
}
