@import '../../abstracts/responsive-mixins';

/* -- table -- */

.wp-block-table,
.wpDataTable,
.dataTable {
	border-collapse: separate !important; /* stylelint-disable-line declaration-no-important */

	td,
	th {
		border-color: var(--wp--preset--color--gray-200);
		padding: var( --wp--preset--spacing--10 );
	}

	thead {
		border-bottom: none;
		
	}

	tbody {
		tr:nth-child(odd) {
			background-color: var(--wp--preset--color--primary-50);
		}
	}

	tfoot {
		font-weight: 700;
	}

	@include responsive-max(600px) {
		thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -0.0625rem;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		tbody {
			tr:nth-child(odd) {
				background-color: var(--wp--preset--color--white);
			}
		}
	}
}
