<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main Content"},"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">

	<!-- wp:group {"metadata":{"name":"Page Content"},"layout":{"type":"default"}} -->
	<div class="wp-block-group"><!-- wp:heading {"level":1} -->
		<h1 class="wp-block-heading">404</h1>
		<!-- /wp:heading -->

		<!-- wp:paragraph {"className":"is-style-intro"} -->
		<p class="is-style-intro">Apologies, but the page you requested could not be found. Perhaps searching will help.</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"ttft/search-form"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","area":"sidebar","className":"site-sidebar","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer","className":"site-footer","tagName":"footer"} /-->
