<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main Content"},"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
    <!-- wp:query-title {"type":"archive","showPrefix":false} /-->

    <!-- wp:pattern {"slug":"ttft/data-table-archive-think-tank"} /-->

    <!-- wp:pattern {"slug":"ttft/data-note"} /-->

    <!-- wp:pattern {"slug":"ttft/search-form"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","area":"sidebar","className":"site-sidebar","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer","className":"site-footer","tagName":"footer"} /-->