<!-- wp:template-part {"slug":"header","tagName":"header","area":"header","className":"site-header"} /-->

<!-- wp:group {"metadata":{"name":"Main Content"},"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">

	<!-- wp:post-content {"metadata":{"name":"Editable Post Content"},"lock":{"move":false,"remove":true}} /-->
	
	<!-- wp:pattern {"slug":"ttt/search-form"} /-->

	<!-- wp:group {"metadata":{"name":"Data Tables"}} -->
	<div class="wp-block-group">

		<!-- wp:pattern {"slug":"ttt/data-table-top-10-foreign"} /-->

		<!-- wp:pattern {"slug":"ttt/data-table-top-10-pentagon"} /-->

		<!-- wp:pattern {"slug":"ttt/data-table-top-10-domestic"} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","tagName":"section","area":"sidebar","className":"site-sidebar"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer","className":"site-footer"} /-->