<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main Content"},"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
	<!-- wp:group -->
	<div class="wp-block-group">

		<!-- wp:post-title {"level":1} /-->

		<!-- wp:spacer {"height":"var:preset|spacing|30","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
		<div style="margin-top:0;margin-bottom:0;height:var(--wp--preset--spacing--30)" aria-hidden="true"
			class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"lock":{"move":false,"remove":true}} /-->

	<!-- wp:template-part {"slug":"content-footer","area":"content-footer","className":"content-footer","tagName":"section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","area":"sidebar","className":"site-sidebar","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer","className":"site-footer","tagName":"footer"} /-->
