<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main Content"},"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
    <!-- wp:group {"tagName":"article","metadata":{"name":"Post Article"},"layout":{"type":"constrained","wideSize":"1280px"}} -->
    <article class="wp-block-group">
        <!-- wp:group {"tagName":"header","metadata":{"name":"Post Header"},"layout":{"type":"default"}} -->
        <header class="wp-block-group">
            <!-- wp:post-title {"level":1} /-->
        </header>
        <!-- /wp:group -->

        <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->
         
        <!-- wp:pattern {"slug":"ttt/data-blocks-think-tank"} /-->

        <!-- wp:pattern {"slug":"ttt/data-table-think-tank"} /-->

        <!-- wp:pattern {"slug":"ttt/data-note"} /-->

        <!-- wp:pattern {"slug":"ttt/search-form"} /-->
    </article>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","area":"sidebar","className":"site-sidebar","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer","className":"site-footer","tagName":"footer"} /-->