<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main Content"},"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
    <!-- wp:group {"tagName":"article","metadata":{"name":"Post Article"},"layout":{"type":"constrained","wideSize":"1280px"}} -->
    <article class="wp-block-group">
        <!-- wp:group {"tagName":"header","metadata":{"name":"Post Header"},"layout":{"type":"default"}} -->
        <header class="wp-block-group">
            <!-- wp:post-title {"level":1} /-->
        </header>
        <!-- /wp:group -->

        <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->

        <!-- wp:pattern {"slug":"ttt/data-blocks-think-tank"} /-->

        <!-- wp:pattern {"slug":"ttt/data-table-think-tank"} /-->

        <!-- wp:shortcode -->
        [ninja_table_info id="11669" field="total_rows"]
        <!-- /wp:shortcode -->

        <!-- wp:group {"tagName":"footer","metadata":{"name":"Post Footer"},"layout":{"type":"default"}} -->
        <footer class="wp-block-group">
            <!-- wp:paragraph {"className":"methodology-notes"} -->
			<p>Amounts in the table are the sum of all donations made by all donors connected to the foreign government. A full list of these donors and their specific contributions is available at the "Download the Data" button. The amounts shown here are minimum known amounts, as many think tanks only disclose funding in ranges (e.g. $250,001 to $500,000). Thus, the amounts shown are, in most cases, conservative estimates of the amount of money donated to think tanks. See our Methodology [hyperlink] for more information.</p>
			<!-- /wp:paragraph -->
        </footer>
        <!-- /wp:group -->

    </article>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","area":"sidebar","className":"site-sidebar","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer","className":"site-footer","tagName":"footer"} /-->